.button {
    background-color: #AFE3F3;
    color: white;
    border-color: #659FD4;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 28px;
    cursor: pointer;
}