.wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #B4B4BC;
    font-weight: 600;
}
